<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="left">
        <div class="container">
            <h3>Share link to download</h3>
    
            <div class="link">
                <p> <%= file %> </p>
    
                <button onclick="copyText()">Copy</button>
            </div>
    
        </div>
    </div>

    <div class="right">
        <img src="/images/bg.jpg" alt="">
    </div>
    



    <script>
        function copyText() {

            /* Copy text into clipboard */
            navigator.clipboard.writeText
                ("<%= file %>");

            window.alert("Text Copied!!!");
        }
    </script>
</body>

</html>